<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <a [routerLink]="'/app'">
        <div class="logo">
          <!-- <app-image-shell animation="spinner" [src]="'assets/images/logo.png'"></app-image-shell> -->
          <img src="assets/images/logo.png" alt="" />
        </div>
      </a>
    </ion-buttons>
    <ion-title>{{ 'event.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ng-container *ngIf="listing?.items">
      <div class="listing-item" *ngFor="let item of listing?.items">
        <ion-row class="info-row">
          <ion-col class="main-info-col">
            <ion-row>
              <ion-col size="1">
                <ion-icon class="event-icon" color="secondary" name="calendar-outline"></ion-icon>
              </ion-col>
              <ion-col size="10">
                <h3 class="item-name">
                  <a class="name-anchor" [routerLink]="['/app/events/', item.slug]">
                    <app-text-shell animation="bouncing" [data]="(item?.name && item?.category) ? (item.name + ' - ' + item.category) : (item.name)"></app-text-shell>
                  </a>
                </h3>
                <!-- <p class="item-description">
                    <app-text-shell animation="bouncing" [data]="item.description" lines="3"></app-text-shell>
                  </p> -->
                <p class="item-address">
                  <app-text-shell animation="bouncing" [data]="item.address"></app-text-shell>
                </p>
              </ion-col>
              <ion-col size="1">
                <ion-icon class="more-icon" name="ellipsis-vertical"></ion-icon>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </div>
    </ng-container>
  </ion-grid>
</ion-content>
