<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ details?.name }}</ion-title>
  </ion-toolbar>
  <ion-toolbar class="segment-toolbar">
    <ion-segment mode="md" (ionChange)="segmentChanged($event)" value="polls">
      <ion-segment-button value="polls" layout="icon-start">
        <ion-label color="dark">{{ 'manageEvent.polls' | translate }}</ion-label>
        <!-- <ion-icon name="bookmarks-outline"></ion-icon> -->
      </ion-segment-button>
      <ion-segment-button value="qas" layout="icon-start">
        <ion-label>{{ 'manageEvent.qas' | translate }}</ion-label>
        <!-- <ion-icon name="help-circle-outline"></ion-icon> -->
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="event-details-content">
  <ion-grid fixed>
    <div class="not-found" *ngIf="notFound">
      <ion-card color="primary">
        <div class="cardBG"></div>
        <ion-card-header>
          <ion-card-subtitle></ion-card-subtitle>
          <ion-card-title></ion-card-title>
        </ion-card-header>
        <ion-card-content> {{ 'manageEvent.notFoud' | translate }} </ion-card-content>
      </ion-card>
    </div>
    <div class="content" *ngIf="!notFound">
      <div class="polls-content" [style.display]="currentSegment === 'polls' ? 'unset' : 'none'">
        <ion-grid class="stats-cards" fixed>
          <ion-row>
            <ion-col size="12">
              <ion-card class="sh-card" color="secondary">
                <ion-card-header>
                  <!-- <ion-card-subtitle>{{ 'manageEvent.pollsCaption' | translate }}</ion-card-subtitle> -->
                  <ion-card-title>{{ 'manageEvent.createPolls' | translate }}</ion-card-title>
                </ion-card-header>
                <ion-card-content> </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card class="sh-card" color="primary">
                <div class="cardBG"></div>
                <ion-card-header>
                  <ion-card-subtitle>{{ 'manageEvent.pollsCaption' | translate }}</ion-card-subtitle>
                  <ion-card-title></ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-grid class="steps-container" fixed>
                    <ion-row>
                      <ion-col size="6" size-lg="4">
                        <div class="step" (click)="showCreatePoll('multi')">
                          <div class="icon">
                            <ion-icon name="list-outline"></ion-icon>
                          </div>
                          <p>{{ 'manageEvent.multiChoice' | translate }}</p>
                        </div>
                      </ion-col>
                      <ion-col size="6" size-lg="4">
                        <div class="step">
                          <div class="icon">
                            <ion-icon name="cloud-outline"></ion-icon>
                          </div>
                          <p>{{ 'manageEvent.wordCloud' | translate }}</p>
                        </div>
                      </ion-col>
                      <ion-col size="6" size-lg="4">
                        <div class="step">
                          <div class="icon">
                            <ion-icon name="trophy-outline"></ion-icon>
                          </div>
                          <p>{{ 'manageEvent.quiz' | translate }}</p>
                        </div>
                      </ion-col>
                      <ion-col size="6" size-lg="4">
                        <div class="step">
                          <div class="icon">
                            <ion-icon name="star-outline"></ion-icon>
                          </div>
                          <p>{{ 'manageEvent.rating' | translate }}</p>
                        </div>
                      </ion-col>
                      <ion-col size="6" size-lg="4">
                        <div class="step">
                          <div class="icon">
                            <ion-icon name="document-text-outline"></ion-icon>
                          </div>
                          <p>{{ 'manageEvent.openText' | translate }}</p>
                        </div>
                      </ion-col>
                      <ion-col size="6" size-lg="4">
                        <div class="step">
                          <div class="icon">
                            <ion-icon name="menu-outline"></ion-icon>
                          </div>
                          <p>{{ 'manageEvent.survey' | translate }}</p>
                        </div>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <div class="qas-content" [style.display]="currentSegment === 'qas' ? 'unset' : 'none'">
        <ion-grid class="stats-cards" fixed>
          <ion-row>
            <ion-col size="12">
              <ion-card class="sh-card" color="secondary">
                <ion-card-header>
                  <!-- <ion-card-subtitle>{{ 'manageEvent.pollsCaption' | translate }}</ion-card-subtitle> -->
                  <ion-card-title>{{ 'manageEvent.liveQAs' | translate }}</ion-card-title>
                </ion-card-header>
                <ion-card-content> </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card class="qas-info-card sh-card" color="primary">
                <div class="cardBG"></div>
                <!-- <ion-card-header>
                  <ion-card-subtitle>{{ 'manageEvent.liveQAsInfo' | translate }} #223893</ion-card-subtitle>
                  <ion-card-title></ion-card-title>
                </ion-card-header> -->
                <ion-card-content>
                  <p>{{ 'manageEvent.liveQAsInfo' | translate }} <b class="highlighted">#{{ details?.code }}</b></p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <div class="listing-item" *ngFor="let item of details?.questions">
            <ion-row class="info-row">
              <ion-col class="main-info-col">
                <ion-row>
                  <ion-col size="11">
                    <h3 class="item-name">
                      <app-text-shell animation="bouncing" [data]="item?.title"></app-text-shell>
                    </h3>
                    <!-- <p class="item-description">
                        <app-text-shell animation="bouncing" [data]="item.description" lines="3"></app-text-shell>
                      </p> -->
                    <p class="item-address">
                      <app-text-shell animation="bouncing" [data]="item?.createdAt | date:'short'"></app-text-shell>
                    </p>
                  </ion-col>
                  <ion-col size="1">
                    <ion-icon class="more-icon" name="ellipsis-vertical"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      </div>
    </div>
  </ion-grid>
</ion-content>
